html {
    font-size: 100%;
    overflow-y: auto;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.61;
    font-weight: 400;
    width: 1024px;
    font-family: 'cursive', Comic Sans MS, Comic Sans, cursive;
    color: #333;
    background: #ffffff;
}

header {
    padding: 0 0.5em;
    color: #260890;
}

header img {
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 7px;
}

header p {
    font-size:1.5em;
    font-weight: bold;
    font-style: italic;
    padding-left: 4em;
}

header p span {
    font-size: 0.8em;
    font-weight: normal;
}

.line_1 {
    font-size:1.2em;
    border-top: 1px solid #737070;
}

.line_2 {
    font-size: 1.2em;
    font-style: italic;
    line-height: 0.5em;
    text-decoration: underline;
}

.paragraph {
    font-size:1em;
    line-height: 0.5em;
    font-style: italic;
    margin-left: 50px;
}

footer {
    padding: 0 0.5em;
    border-top: 1px solid #737070;
}

footer span {
    float: right;
    font-style: italic;
}